@font-face {
    font-family: 'Uniform';
    src: url('@fonts/uniform/Uniform-ExtraCondensed5.woff2') format('woff2'),
        url('@fonts/uniform/Uniform-ExtraCondensed5.woff') format('woff');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Uniform';
    src: url('@fonts/uniform/Uniform-ExtraCondensed3.woff2') format('woff2'),
        url('@fonts/uniform/Uniform-ExtraCondensed3.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Uniform';
    src: url('@fonts/uniform/Uniform-ExtraCondensed4.woff2') format('woff2'),
        url('@fonts/uniform/Uniform-ExtraCondensed4.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

html {
    font-family: 'Uniform', sans-serif;
    font-size: clamp(16px, 1.157407407407407vw, 22px);
}

.tpnw-title {
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: theme("colors.highlight");
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em;
}
